#map{
height: 100%
}

html, body{
height: 100%;
margin: 0;
padding: 0;
}

.landingPage{
  position: absolute;
  z-index: 3;
  min-height:100%;
   width: 100%;
   background: purple;
   text-align: center;

}
.content{
  /*This makes the website have a little more pop. */
  background: gold;
}
